<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!--默认default-->
    <contextName>logback</contextName>
    <springProfile name="8010">
        <property name="log.path" value="/data/provider/log"/>
        <property name="log.prefix" value="8010"/>
    </springProfile>
    <springProfile name="8011">
        <property name="log.path" value="/data/provider/log"/>
        <property name="log.prefix" value="8011"/>
    </springProfile>
    <springProfile name="8012">
        <property name="log.path" value="/data/provider/log"/>
        <property name="log.prefix" value="8012"/>
    </springProfile>

    <!-- 将日志进行编码后输出到控制台 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>{"level":"%level","class":"%logger{40}","line":"%line","msg":"%msg","date":"%d{yyyy-MM-dd
                    HH:mm:ss}"}%n
                </Pattern>
            </layout>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <!-- 将日志输出到文件，当日志内容不断增多时，进行文件切分 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}/provider-${log.prefix}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/backup-%d{yyyyMMdd}.log%i</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>{"level":"%level","class":"%logger{40}","line":"%line","msg":"%msg","date":"%d{yyyy-MM-dd
                    HH:mm:ss}"}%n
                </Pattern>
            </layout>
        </encoder>
    </appender>

    <springProfile name="8010,8011,8012">
        <root level="INFO">
            <appender-ref ref="fileAppender"/>
        </root>
    </springProfile>

</configuration>